@import '../../assets/styles/reset.scss';

.about {
  @include flexbox($flex-direction: column);
  margin-bottom: 3rem;

  .about-content {
    @include flexbox($flex-direction: column);
    max-width: 800px;
    padding: 1rem;

    .about-text {
      @include flexbox($flex-direction: column);
      max-width: 650px;
      flex-wrap: wrap;
      gap: 2rem;

      .about-title {
        font-size: 1.5rem;
        font-weight: 700;
        letter-spacing: 0.2rem;
        color: var(--light-color);
      }

      .paragraph {
        text-align: justify;
        line-height: 1.7rem;
      }
    }
  }

  .curriculum {
    width: 100%;
    text-align: right;
    margin-top: 2rem;
    cursor: pointer;

    &:hover {
      color: var(--light-color);
      transition: all 0.4s;
    }
  }
}

@media (max-width: 768px) {
  .about {
    .curriculum {
      text-align: center;
    }
  }
}
