.info-container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 0 5rem;

  .info-img {
    img {
      width: 180px;
      border-radius: 50%;
    }
  }

  .info-content {
    width: 650px;

    .title-info {
      margin-bottom: 0.7rem;
    }

    .text-info {
      text-align: justify;
      line-height: 1.8rem;
    }
  }
}
