.container {
  .info-img {
    img {
      width: 300px;
      border-radius: 30%;
    }
  }

  .info-content {
    .title-info {
      margin-bottom: 0.9rem;
      font-size: 2.2rem;
    }

    .text-info {
      text-align: center;
      padding-left: 2rem;
      font-size: 1.2rem;
    }
  }

  .links-info {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    font-size: 1.5rem;
    margin-top: 1rem;

    .social-link {
      cursor: pointer;

      &:hover {
        color: var(--hover-color);
      }
    }
  }
}

@media (max-width: 768px) {
  .container {
    .info-img {
      img {
        width: 250px;
      }
    }

    .info-content {
      .title-info {
        margin-bottom: 1.3rem;
        font-size: 2.2rem;
        text-align: center;
      }

      .text-info {
        padding-left: 0;
      }
    }

    .links-info {
      display: flex;
      justify-content: center;
      gap: 1rem;
      font-size: 1.5rem;
      margin-top: 2rem;
    }
  }
}
