
@import './assets/styles/reset.scss';

.App {
  @include flexbox($flex-direction: column, $justify-content: space-between);
  height: 100%;
  width: 100vw;
}

.container {
  @include flexbox;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
}
