@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');

@layer base {
  * {
    font-family: 'Fira Code', monospace;
  }
  body {
    @apply bg-neutral-900 tracking-wide;
  }

  h1 {
    @apply text-neutral-50 text-2xl pt-10 text-indigo-400;
  }

  h2 {
    @apply text-neutral-200;
  }

  h3 {
    @apply text-neutral-600 text-xs md:text-sm;
  }
}

@layer components {
  .container {
    @apply flex flex-col gap-y-8;
  }
  .link-menu {
    @apply text-neutral-50 hover:text-indigo-400 cursor-pointer;
  }

  .btn-social {
    @apply bg-neutral-800 w-24 py-1 text-neutral-500 text-center cursor-pointer hover:bg-indigo-600 hover:text-neutral-50 duration-500 text-sm md:text-base;
  }

  .text {
    @apply text-neutral-300 text-sm leading-6 text-left;
  }

  .header-container {
    @apply flex flex-col justify-between md:flex-row;
  }

  .content {
    @apply flex flex-col gap-0.5;
  }

  .btn-project {
    @apply flex justify-center items-center bg-neutral-800 w-14 text-xs text-neutral-500 text-center cursor-pointer hover:bg-indigo-600 hover:text-neutral-50 duration-500 py-1 my-2 md:my-0;
  }

  .subHeader-container {
    @apply flex flex-row gap-x-4;
  }
}
